<section>
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">
              <% if user_signed_in? %>
                <h2>Add a comment:</h2>
                <%= form_with model: [ @blog, @blog.comments.build ] do |form| %>
                  <div class="form-group">
                    <%= form.label :body %>
                    <%= form.text_area :body, class: "form-control", rows: 3 %>
                  </div>  
                  <div class="form-group">
                    <%= form.submit "Submit", class: "btn btn-info btn-lg btn-block" %>
                  </div>
                <% end %>
              <% else %>
                <p>Please sign in to add comments.</p>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>