<li class="dropdown-item">
  <% if notification.to_notification.url.present? %>
    <%= link_to notification.to_notification.message, notification.to_notification.url %>
  <% else %>
    <%= "Notification link not available" %>
  <% end %>
</li>
